@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');
:root{
    --color:#1c1917;
    --color2: #374151;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
}
.container{
    padding:0rem 2rem;
}
.container-center{
    max-width:600px;
    margin:auto; }
.link{
    padding:.5rem 1rem;
    text-decoration: none;

}
.link-primary{
    background-color: var(--color);
    border-radius: 0.5rem;
    color:aliceblue;

}
.link-secondary{
    color: var(--color);
    border-radius:0.5rem;
    border:1px solid var(--color);

}
.space{
    margin:2rem 0rem;
}
.non-bullet{
    list-style:none;
    
}
.inline{
    display: inline;
    padding: 0rem 0rem;
    align-items: right;
    
}
.navigation{
    background-color: var(--color);
    color: aliceblue;
    padding:1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.navigation .nav-list{
    text-align:right;
    
}
.navigation .link{
    color: aliceblue;
    
}
.link-active{
    font-weight: bold;
}
.hero{
    padding:2rem;
}
.hero-img{
    max-width: 250px;
    display: block;
    margin: auto;
}
.hero-heading{
    text-align: center;
}
.section{
    padding: 2rem;
}
.section h1{
    text-align: center;
}
.ow{
    background-color: #d1d5db;
}
.footer{
    background-color: var(--color);
    padding:2rem;
    text-align: center;
    color: aliceblue;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.footer .link{
    color: aliceblue;
}
.padding ul{
    padding-inline-start: 0px;
}
.footer-heading{
    font-size: larger;
    font-weight: bolder;
}
@media screen and (max-width:600px){

    ul{
    text-align:center;
    padding:5px;
    margin:0 auto;

} 
  .footer .link{
    font-size:small;
    padding:5px;
    margin:0 auto;
  }
}
@media screen and (max-width:385px){

    ul{
    text-align:center;
    padding:5px;
    font-size:xx-small;
    margin :0 auto;

} 
  .footer .link{
    font-size:xx-small;
    padding:5px;
    margin:0 auto;
  }
}
@media screen and (max-width:392px){
    .ow .link-secondary{
        font-size:x-small;
    }
}
@media screen and (max-width:392px){
    .ow .link-secondary{
        font-size:xx-small;
        display:inline-block;
        margin:2px auto;
    }
}